{% extends 'base.html' %}
{% block content %}
<h1>About</h1>
<p>This is a template page</p>
<p>
    {{ my_text }} , {{ page_id }}
</p>
<ul>
    {% for item in my_list %}
        {% if item == 123 %}
            <!-- If item is 123, then 321 is added to it
                "|" is filter applied
                refer https://docs.djangoproject.com/en/3.2/ref/templates/builtins/
            -->
            <li> {{ forloop.counter }} - {{ item|add:321 }} </li>
        {% elif item == "apple" %}
            <li> This is a fruit</li>
        {% else %}
            <li> {{ forloop.counter }} - {{ item }} </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
<!--
{% block another_content_area %}
<h2>Inside another content area</h2>
{% endblock %}
-->
